body {
  background-color: rgba(1, 1, 1, 0.91);
}

h1 {
  color: white;
  text-align: center;
  font: 
}

h2 {
  color: white;
  text-align: center;
  font: 
}

h3 {
  color: white;
  text-align: center;
  font: 
}

p {
  color: white;
  text-align: center;
}

hr {
  color: white;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.bold { 
  font-weight: bold; 
  }

  .icon {
    height: 50px;
  }

  .display {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  }

  .DeliverHeightChange {
    height: 300px;
  }